body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.b {
    color: #000;
    display: block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph
    }
.calibre {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre1 {
    color: #03C;
    display: block;
    font-size: 1.88889em;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre2 {
    display: block;
    font-size: 2.66667em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em
    }
.calibre3 {
    color: #000;
    display: block;
    font-size: 1.88889em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre4 {
    color: #000;
    display: block;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: 0
    }
.calibre5 {
    color: #000;
    display: block;
    font-size: 1.88889em;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre6 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.7em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph
    }
.calibre7 {
    display: block
    }
.calibre8 {
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
    }
.calibre9 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph
    }
.calibre10 {
    display: block;
    font-size: 1.33333em;
    font-weight: 800;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 2em
    }
.calibre11 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre12 {
    color: black
    }
.calibre13 {
    display: block;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph
    }
.calibre14 {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre15 {
    display: block;
    font-size: 2.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre16 {
    height: 100%
    }
.calibre17 {
    display: block;
    font-size: 0.75em;
    height: 100%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre18 {
    display: table;
    height: 100%;
    overflow: hidden;
    position: static;
    width: 100%
    }
.calibre19 {
    display: table-cell;
    position: static;
    text-align: center;
    top: 50%;
    vertical-align: middle
    }
.calibre20 {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
    top: -50%
    }
.chatu {
    display: block;
    font-family: songti;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center
    }
.chubanshe {
    bottom: 12%;
    display: block;
    font-family: fzlth;
    font-size: 1em;
    left: 0%;
    margin-left: 0%;
    margin-top: 2em;
    position: absolute;
    text-align: center;
    width: 100%
    }
.fnote {
    border-top-color: gray;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 1em;
    padding-top: 0.5em;
    text-align: justify;
    text-indent: 2em
    }
.italic {
    font-style: italic
    }
.jiacu {
    color: #000;
    font-size: 1em;
    font-weight: bold
    }
.kaiti {
    display: block;
    font-family: kaiti;
    font-size: 1.88889em;
    line-height: 1.2;
    text-indent: 0
    }
.kaiti1 {
    display: block;
    font-family: kaiti
    }
.kaiti2 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph
    }
.kaiti3 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph
    }
.kaiti4 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph
    }
.kaiti5 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph
    }
.kaiti6 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph
    }
.shuming {
    display: block;
    font-family: songti;
    padding-top: 30%;
    text-align: center;
    text-indent: 0
    }
.tushuo {
    display: block;
    font-family: kaiti;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph
    }
.z {
    color: #000;
    display: block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 2em;
    text-justify: inter-ideograph
    }
.z1 {
    color: #000;
    display: block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 2em;
    text-justify: inter-ideograph
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "fzlth";
    src: url(../Fonts/fzlth.ttf)
    }
@font-face {
    font-family: "songti";
    src: url(../Fonts/fzss.ttf)
    }
@font-face {
    font-family: "kaiti";
    src: url(../Fonts/kaiti.ttf)
    }
@font-face {
    font-family: "fzlth";
    src: local("微软雅黑"), local("黑体"), local("hei"), local("MYing Hei S"), /* local("MYing Hei T"),local("TBGothic"), */ url(../Fonts/fzlth.ttf), local("Heiti"), local("Heiti SC"), local("Heiti TC"), local("STHeiti"), local("DK-HEITI"), local("Sans-serif")
    }
@font-face {
    font-family: "heiti";
    src: local("微软雅黑"), local("黑体"), local("hei"), local("MYing Hei S"), /* local("MYing Hei T"),local("TBGothic"), */ local("Helvetica"), local("Heiti"), local("Heiti SC"), local("Heiti TC"), local("STHeiti"), local("DroidSansFallback"), local("DK-HEITI"), local("Sans-serif"), local("Monospace")
    }
@font-face {
    font-family: "songti";
    src: local("华文中宋"), local("宋体"), local("STSong"), local("song"), local("STSong"), local("Song S"), /* local("STBShusong"),local("Song T"),local("TBMincho"),local("HYMyeongJo"), */ local("Songti"), local("Songti SC"), local("Songti TC"), local("Times New Roman"), url(../Fonts/fzss.ttf), local("DK-SONGTI"), local("Serif")
    }
@font-face {
    font-family: "kaiti";
    src: local("楷体"), local("楷体_GB2312"), local("kai"), local("MKai PRC"), local("STKai"), local("STKaiTi"), local("Kaiti"), local("Kaiti SC"), local("Kaiti TC"), local("Georgia"), url(../Fonts/kaiti.ttf), local("DK-KAITI")
    }
@font-face {
    font-family: "yuanti";
    src: local("幼圆"), local("仿宋"), local("仿宋_GB2312"), local("yuan"), local("STYuan"), local("Yuanti"), local("Yuanti SC"), local("Yuanti TC"), local("DK-XIHEITI"), local("DK-FANGSONG")
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

